[submodule "awesome-freedesktop"]
	path = awesome-freedesktop
	url = git://github.com/terceiro/awesome-freedesktop.git
[submodule "obvious"]
	path = obvious
	url = git://git.mercenariesguild.net/obvious.git
[submodule "uzful"]
	path = uzful
	url = git://github.com/dodo/uzful.git
[submodule "vicious"]
	path = vicious
	url = http://git.sysphere.org/vicious
[submodule "couth"]
	path = couth
	url = git://github.com/gorlowski/couth.git
