[submodule "awesome-freedesktop"]
	path = awesome-freedesktop
	url = git://github.com/terceiro/awesome-freedesktop.git
[submodule "obvious"]
	path = obvious
	url = git://github.com/hoelzro/obvious.git
[submodule "uzful"]
	path = uzful
	url = git://github.com/dodo/uzful.git
[submodule "vicious"]
	path = vicious
	url = http://git.sysphere.org/vicious
[submodule "couth"]
	path = couth
	url = git://github.com/dodo/couth.git
[submodule "lognotify"]
	path = lognotify
	url = git://github.com/Mic92/lognotify.git
[submodule "rodentbane"]
	path = rodentbane
	url = git://github.com/dodo/rodentbane.git
[submodule "lua-dbus"]
	path = lua-dbus
	url = git://github.com/dodo/lua-dbus.git
